:root{
--color-accent-color: #2196f3;
--dark-accent-color: #212112;
--bg-color: #ffffff;

}
body {
font-family: Roboto, sans-serif;
font-weight: 700;
background-color: var(--bg-color);
color: var(--dark-accent-color);
letter-spacing: 0.03em;
}


/* ------  LOGO ------ */

.logo-accent {
    font-family: Raleway, sans-serif;
    color: var(--color-accent-color);
    font-size: 26px;
    line-height: 1.19;
    /* letter-spacing: 0.03em; */

}
.logo-black {
       color:#000000;
   }

/* ------  СПИСОК ------ */

.list {
    list-style: none;
}

/* ------  ПОСИЛАННЯ ------ */

a {
    text-decoration: none;
        }
    
.header-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /* color: var(--dark-accent-color); */
}

.link:hover {
color: var(--color-accent-color);
}

.link:focus {
color: var(--color-accent-color);
}

.nav-contact {
    color: #757575;
}
.nav-list {
    color: var(--dark-accent-color);
}
.footer-where-to{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--bg-color)
}
.footer-mail-tel{
    color: rgba(255, 255, 255, 0.6);
}

/* ------  КНОПКИ ------ */

.hero-btn {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: var(--color-accent-color);
    color: var(--bg-color);
}
.hero-btn:hover {
    background-color: var(--color-accent-color);
    color: var(--bg-color);
}
.hero-btn:focus {
    background-color: var(--color-accent-color);
    color: var(--bg-color);
}
.filter-btn {
    font-weight: 500;
    background: #F5F4FA;
    color: var(--dark-accent-color);
}

/* ------  ЗАГОЛОВКИ ------ */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--bg-color);
}
.second-title{
    font-size: 36px;
    line-height: 0.86;
}
.third-title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.name-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.visually-hidden { 
    /* отримано на SLACK */
    position: absolute; 
    width: 1px; height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0;
    white-space: nowrap; 
    clip-path: inset(100%); clip: 
    rect(0 0 0 0); 
    overflow: hidden;
}
.portfolio-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-accent-color)

}
/* ------  ТЕКСТИ ------ */
.feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.71;
    color: #757575;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
}

/* ------  ДОДАТКОВО ------ */
.hero {
    background-color: var(--dark-accent-color);;
}